body {
	margin: 0px;
	overflow: hidden;
	background-color: black;
}

.sphere {
	fill: lightblue; 
}

.country {
	fill: white;
	stroke: black;
	stroke-width: 0.3;
	/* stroke-opacity: .5; */
}

.country:hover {
	fill: red;
}

.graticule {
	/* fill:; */
	fill: transparent;
	stroke: grey;
	stroke-width: .5;
	/* z-index: 1; */
}
