body {
	margin: 0px;
	overflow: hidden;
	background-color: grey;
}

.sphere {
	fill: lightblue;
	stroke: black;
	stroke-width: 0.5;
	z-index: -1;
}

.country {
	fill: white;
	stroke: black;
	stroke-width: 0.3;
	stroke-opacity: 0.5;
}

.country-mouse-over {
	fill: lightyellow;
}

.graticule {
	fill: transparent;
	stroke: black;
	stroke-width: 0.25;
}
